:root {
    background: #a7ffe7;
    max-width: 1000px;
    font-family: "Fahkwang";
    
  }

  header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1000px;
  }
  header img{
    border-radius: 20px;
    margin-left: 80px; 
  }
  header nav {
    flex: 1 1 100%;
  }
  .linkstop {
    color: navy;
    padding: 20px;
    text-decoration: none;
    border: 2px solid;
    
  }

  p {
    
    color:#073B4C;

  }

  .hero {
    position: relative;
    background-color: #ecbbe0;
    width: 1000px;
    height: 400px;
  }
  .heroimg{
    position: absolute;
    object-fit: cover;
    width: 1000px;
    height: 400px;
  }
  .hero h1{
    position: absolute;
    background-color: rgba(245, 245, 220, 0.527);
    width: 1000px;
    text-align: center;
  }
  .hero article{
    position: absolute;
    border: 2px solid;
    margin: 2rem;
    top: 25%;
    text-align: center;
    background-color: rgba(245, 245, 220, 0.527);   
  }
  .artimg{
    float: right;
    width: 170px;
    height: 150px;
    padding: 20px;
    margin-top: 5px;
    margin-right: 5px; 
  }
 
  .section1 {
    display: grid;
    border-bottom: 2px solid;
    top: 25%;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
    text-align: center;
    align-items: center;
  }
  .section1 img {
    width: 300px;
    border: 2px solid;
    border-color: #42075e;
    border-radius: 5px;
      
  }

  .section2 {
    border-top: 2px solid;
    top: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 100px 200px;
    grid-template-areas: 'header header header header header';
     
    
  }
  .sec2img {
    display: grid;
    width: 200px;
    border: 2px solid;
    border-color: #233035;
    border-radius: 5px;

    
  }
  .section2 h2 {
    grid-area: header;
    text-align: center;

  }

  .footertxt {
    text-align: center;
  }

  .sociallinks {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .sociallinks img{
    border-radius: 10px;
    margin: 10px;

  }



  .reachout {
    text-align: center;
    background-color: rgba(158, 158, 158, 0.377);
    padding: 20px;
  }
.companyinfo {
  position: relative;
  padding: 50px;
}
.cpnyinfo1 {
  position: absolute;
  width: 350px;
  top: 25%;

}
.cpnyinfo2 {
  position: relative;
  width: 600px;
  left: 320px;

}
.happyemployees h1 {
  text-align: center;
  background-color: rgba(158, 158, 158, 0.377);
  padding: 20px;
}
.images {
  width: 400px;
}
.classjohn, .classbeefboss{
  position: relative;
  padding-bottom: 300px;
}
.johnimg, .beefbossimg{
  position: absolute;
  width: 350px;
  top: 25%;
  left: 58%;

}
.john, .beefboss{
  position: absolute;
  left: 150px;
  top: 50%;
  font-size: 50px;
}
.classgary{
  position: relative;
  padding-bottom: 300px;
  
}
.garyimg{
  position: absolute;
  width: 350px;
  top: 25%;
  left: 0%;

}
.gary{
  position: absolute;
  left: 68%;
  top: 50%;
  font-size: 50px;
}
.userform {
  margin-top: 100px;
  border-top: 2px solid rgba(158, 158, 158, 0.377);
  background-color: rgba(158, 158, 158, 0.377);
  padding: 20px;
}
.userform h1, h3 {
  text-align: center;
}
.field {
  text-align: center;
}
button {
  margin: 1rem;
  background-color: rgb(0, 87, 128);
  color: #fff;
  border: none;
  border-radius: .2rem;
  padding: .5rem;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1rem;
}
textarea {
  width: 500px;
}

  


